grafana.EXAMPLE:COM:443 {
    reverse_proxy grafana:3000

}
#These lines are for you to redirect the portainer by caaddy
#portainer.EXAMPLE.COM:443 {
#   reverse_proxy IP.EXAMPLE:9000
#
#}
#
#http://portainer.EXAMPLE.COM {
#    redir https://portainer.EXAMPLE.COM
#
#}

http://grafana.EXAMPLE:COM {
    redir https://grafana.EXAMPLE.COM
    
}
